
<p><strong>Teléfono:</strong> <a class="enlace_cabecera" href="tel:+655238754" title="Llama al 655238754">+655238754</a></p>
<p><strong>Correo electrónico:</strong> <a class="enlace_cabecera" href="mailto:qkorte@gmail.com" title="Manda un correo a qkorte@gmail.com">qkorte@gmail.com</a></p>
<p><strong>Horario: Lunes - Viernes:</strong> 10:00 - 14:00 y 16:00 - 20:00. <strong>Sabados y Domingos:</strong> 16:00 - 20:00 </p>
<p><strong>Dirección:</strong> Rúa Galicia 4, 36980 O Grove (Pontevedra)</p>

  