  <a href="/index.html">
    <img src="/assets/img/logo_qkorte.png" alt="Logo de la empresa, haz clic para volver a la página de inicio"/>
  </a>
  
  <nav class="header_nav">
    <ul>
      <li><a class="enlace_cabecera" href="/index.html">Inicio</a></li>
      <li><a class="enlace_cabecera" href="/perfil/index.html">Perfil de usuario</a></li>
      <!-- <li><a class="enlace_cabecera" href="/notificaciones.html">Notificaciones</a></li> -->
      <li><a class="enlace_cabecera" href="/citas/index.html">Citas pendientes</a></li>
      <li><a class="enlace_cabecera" href="/servicios/index.html">Servicios</a></li>
      <li><a class="enlace_cabecera" href="/historial.html">Historial de citas</a></li>
    </ul>
  </nav>

